/**
 * @file
 * Styles for CUSys Bootstrap Barrio's footer region.
 */
.featured-footer {
    padding: 15px 0;
}

.featured-footer h2 {
    margin: 10px 0 15px;
    font-size: 1.625rem;
}

.featured-footer h5 {
    font-size: 1.125rem;
}

.featured-footer .content a:not(.btn) {
    text-decoration: underline;
}

.featured-footer .content a:hover:not(.btn) {
    text-decoration: underline;
}

.featured-footer .block-get-connected .content p {
    font-size: 1.125rem;
}

.featured-footer .block-get-connected .content .btn {
    font-size: 1.375rem;
    font-weight: 700;
}

.site-footer {
    margin: 0;
    padding: 0;
    border: none;
}

.site-footer .region-top {
    padding: 27px 0 30px;
}

.site-footer .block {
    margin: auto;
    border: none;
}

.site-footer a,
.site-footer .content a {
    text-decoration: none;
}

.site-footer a:hover,
.site-footer .content a:hover {
    text-decoration: underline;
}

.site-footer__top p {
    margin: 0;
}

.site-footer__top .region {
    width: 100%;
}

.site-footer__top .block-cu-online h2 {
    margin: 0 0 12px 0;
    padding: 0;
    font-size: 1.313rem;
    font-weight: 700;
    text-transform: none;
    border-bottom: none;
}

.site-footer__top .block-cu-online .content {
    font-size: 1.100rem;
}

.site-footer ul.menu--social-media {
    margin-top: 15px;
    display: inline-block;
}

.site-footer ul.menu--social-media li {
    display: block;
    float: left;
    margin: 5px 8px;
}

.site-footer ul.menu--social-media li a {
    text-indent: -10000px;
    font-size: 0 !important;
    font-weight: 400;
    font-family: "Font Awesome 5 Brands";
    border-radius: 50%;
    padding: 0;
}

.site-footer ul.menu--social-media li a:hover {
    text-decoration: none;
}

.site-footer ul.menu--social-media li a:before {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    font-size: 1.250rem;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    text-indent: 0;
}

.site-footer__top .region-footer-second,
.site-footer__top .region-footer-third,
.site-footer__top .region-footer-fourth {
    width: 100%;
}

.region-footer-second>nav ul.menu,
.region-footer-third>nav ul.menu,
.region-footer-fourth>nav ul.menu {
    width: 100%;
    margin-bottom: 16px;
    display: block;
}

.region-footer-second>nav ul.menu li:first-child,
.region-footer-third>nav ul.menu li:first-child,
.region-footer-fourth>nav ul.menu li:first-child {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 7px;
    margin-bottom: 15px;
    font-weight: 700;
}

.cusys-barrio .site-footer__bottom .block-footer-copyright,
.cusys-barrio .site-footer__bottom .block-footer-copyright p,
.cusys-barrio .site-footer__bottom .block-footer-copyright a {
    font-size: 0.875rem;
}

.region-footer-fifth>nav ul.navbar-nav {
    width: 100%;
}

.region-footer-fifth .block-footer-copyright {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 1rem;
    padding-top: 7px;
    padding-bottom: 20px;
}

.region-footer-fifth .block-footer-copyright p {
    margin: 0;
}

/* Small */
@media (min-width: 36em) {

    .featured-footer,
    .site-footer .region-top {
        padding: 30px 0;
    }

    .site-footer__top .region-footer-second,
    .site-footer__top .region-footer-third,
    .site-footer__top .region-footer-fourth {
        width: 100%;
    }
}

/* Medium */
@media (min-width: 48em) {

    .featured-footer,
    .site-footer .region-top {
        padding: 45px 0;
    }

    .featured-footer .block-get-connected .content .btn {
        font-size: 1.500rem;
    }

    .site-footer__top .region-footer-second,
    .site-footer__top .region-footer-third,
    .site-footer__top .region-footer-fourth {
        width: 100%;
    }
}

/* Large */
@media (min-width: 62em) {

    .featured-footer,
    .site-footer .region-top {
        padding: 60px 0;
    }

    .site-footer__top .block-cu-online .content {
        font-size: 0.963rem;
    }

    .site-footer ul.menu--social-media li {
        margin: 0 10px 15px 0;
    }

    .site-footer__top .region-footer-second,
    .site-footer__top .region-footer-third,
    .site-footer__top .region-footer-fourth {
        width: 100%;
    }

    .cusys-barrio .region-footer-fifth .navbar-nav>li {
        padding: 0;
        border: none;
    }
}

/* Extra Large and up */
@media (min-width: 75em) {

    .featured-footer,
    .site-footer .region-top {
        padding: 80px 0;
    }

    .featured-footer .block-get-connected .content .btn {
        font-size: 1.750rem;
    }

    .site-footer__top .region-footer-second,
    .site-footer__top .region-footer-third,
    .site-footer__top .region-footer-fourth {
        width: 100%;
    }
}