/**
 * @file
 * Styles for CUSys Bootstrap Barrio's header region.
 */
.header>.l-header-top {
    padding-top: 0;
    padding-bottom: 0;
}

.l-header-top .logo {
    width: 130px;
    padding: 20px 0;
}

.logo img {
    width: 100%;
}

/* Medium and up */
@media (min-width: 48em) {
    .l-header-top .logo {
        width: 380px;
    }
}