# Pantheon Integrated Composer has a strong requirement that any file placed
# by Composer *must* be ignored in the .gitignore file. If this is not done,
# the build will be rejected, and a failure will be reported. In order to
# make this easier and be resilient to extra files that may be added to Drupal
# core in version upgrades, we will ignore everything, and only commit locations
# that are specifically allowed.
*

# Top-level files that should be committed to the repository
!/.gitattributes
!/.gitignore
!/CHANGELOG.md
!/README.md
!/composer.json
!/composer.lock
!/pantheon.upstream.yml
!/pantheon.yml

# Top-level directories that are entirely populated from the repository
!/config/
!/private/
!/upstream-configuration/

# Locations in /web/ that have some committed locations, and some locations
# that are populated by Composer.
!/web/
/web/*
!/web/modules/
/web/modules/*
!/web/modules/custom/
!/web/profiles/
/web/profiles/*
!/web/profiles/custom/
!/web/themes/
/web/themes/*
!/web/themes/custom/
!/web/sites/

# More .gitignore rules that are often used with Drupal projects.
# Because .gitignore is specific to your site and its deployment processes, you
# may need to uncomment, add, or remove rules.

web/sites/default/default.services.pantheon.preproduction.yml
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/default/settings.pantheon.php
web/sites/development.services.yml
web/sites/example.settings.local.php

# Pantheon commits a settings.php for environment-specific settings.
# Place local settings in settings.local.php
web/sites/*/settings.local.php
web/sites/*/services*.yml
!web/sites/*/services.pantheon.*.yml
!web/sites/*/services.yml

# Ignore paths that contain user-generated content.
/web/sites/*/files
/web/sites/*/private

# Ignore SimpleTest multi-site environment.
/web/sites/simpletest
