/**
 * @file
 * Styles for CUSys Bootstrap Barrio's styleguide.
 */
.simple-styleguide .bd-content code {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: .875em;
    color: #d63384;
    background-color: #ffffff;
}

.simple-styleguide .bd-content h2 a {
    padding: 0;
    font-weight: 400;
    font-size: 0.650em;
    color: #6c757d;
}

.simple-styleguide .bd-content h2 a:hover {
    color: #ddd;
    text-decoration: none;
}