@charset "UTF-8";

/**
 * @file
 * Styles for CUSys Bootstrap Barrio's colors.
 */
.bg-cu-gold {
  background-color: var(--cu-gold) !important;
}

.bg-cu-black {
  background-color: var(--cu-black) !important;
}

.bg-cu-light-gray {
  background-color: #adb5bd !important;
}

.bg-cu-dark-gray {
  background-color: var(--cu-dark-gray) !important;
}

.br-cu-gold {
  border-color: var(--cu-gold) !important;
}

.br-cu-black {
  border-color: var(--cu-black) !important;
}

.br-cu-light-gray {
  border-color: var(--cu-light-gray) !important;
}

.br-cu-dark-gray {
  border-color: var(--cu-dark-gray) !important;
}

.text-cu-gold {
  color: var(--cu-gold);
}

.text-cu-black {
  color: var(--cu-black);
}

body.cusys-barrio {
  color: var(--cu-black);
}

body.node-unpublished {
  background-color: rgba(255, 255, 0, 0.50);
}

.cusys-barrio .btn-primary {
  color: var(--cu-black);
  background-color: var(--cu-gold);
  border-color: var(--cu-gold);
}

.cusys-barrio .btn-primary:hover {
  color: var(--cu-black);
  background-color: #b5a16d;
  border-color: #b5a16d;
}

.l-header-top {
  background-color: var(--cu-black);
}

.l-header-bottom {
  background-color: var(--cu-dark-gray);
}

.l-header-bottom .nav-link,
.l-header-bottom .nav-link:focus,
.l-header-bottom .nav-link:hover,
.cusys-barrio .dropdown-item>a,
.cusys-barrio .dropdown-item>a:hover,
.cusys-barrio .dropdown-item>a:focus {
  color: #fff;
}

/** Hero */
.hero .title h1 {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.hero .hero-background--sm-wrap .title h1 {
  background-color: rgba(0, 0, 0, 0.85);
}

.hero .sub-title {
  background-color: #fff;
}

.hero .sub-title:after {
  background-color: var(--cu-gold);
}

.hero-webform>form {
  border-color: #a2a4a3;
  background-color: #efefef;
}

.cusys-barrio .dropdown-item.active {
  background-color: var(--cu-light-gray);
}

.cusys-barrio .navbar-nav>li,
.cusys-barrio .dropdown-menu>li {
  border-bottom-color: var(--cu-light-gray);
}

.cusys-barrio .navbar-nav>li:first-child,
li.dropdown .dropdown-menu .dropdown-item {
  border-top-color: var(--cu-light-gray);
}

.cusys-barrio .dropdown-menu {
  background-color: transparent;
  border: none;
}

/* Forms */
.cusys-barrio form .form-item-disclaimer a {
  color: var(--cu-black);
}

.cusys-barrio .breadcrumb a {
  color: var(--cu-dark-gray);
}

.list-pattern--divider .list-pattern__item {
  border-bottom-color: var(--cu-gold);
}

.cusys-barrio .text-body {
  color: var(--cu-black) !important;
}

.points-of-pride--grid .card {
  border-color: var(--cu-black);
  background-color: transparent;
}

/* Tables */
.cusys-barrio table,
.cke_editable table {
  color: var(--cu-black);
  border-color: #ddd;
}

.cusys-barrio tr,
.cke_editable tr {
  border-bottom-color: #ddd;
  background: #ffffff;
  background: rgba(255, 255, 255, 1);
}

.cusys-barrio thead>tr,
.cke_editable thead>tr {
  border-top-color: #555;
  border-bottom-color: #ddd;
}

.cusys-barrio tr.odd,
.cke_editable tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}

.cusys-barrio table tr th,
.cke_editable table tr th {
  background: #fff;
}

.cusys-barrio table tr th,
.cke_editable table tr th,
.cusys-barrio table tr th a,
.cke_editable table tr th a,
.cusys-barrio table tr th a:hover,
.cke_editable table tr th a:hover,
.cusys-barrio table tr th a:focus,
.cke_editable table tr th a:focus {
  color: #212529;
}

.cusys-barrio tr td,
.cke_editable tr td,
.cusys-barrio tr th,
.cke_editable tr th {
  border-color: #ddd;
}

.table-dark th {
  color: #ffffff;
}

.quote blockquote {
  border-color: #ccc;
}

blockquote p:first-child::before,
blockquote p:last-child::after {
  color: #ccc;
}

/** Horizontal line border **/
.repeating-linear {
  -o-border-image: -o-repeating-linear-gradient(top, var(--cu-gold), var(--cu-gold) 4px, white 4px, white 20px) 1;
  border-image: repeating-linear-gradient(180deg, var(--cu-gold), var(--cu-gold) 4px, white 4px, white 20px) 1;
}

/** Program at a Glance */
.program-at-a-glance>h2 {
  background-color: var(--cu-black);
  color: white;
  -webkit-box-shadow: 0.2rem 0.3rem 0.5rem -0.1rem rgb(0 0 0 / 60%);
          box-shadow: 0.2rem 0.3rem 0.5rem -0.1rem rgb(0 0 0 / 60%);
}

.program-at-a-glance .card {
  background: transparent;
}

.program-at-a-glance .card-title {
  background: var(--cu-gold);
}

.program-at-a-glance .card--fake .card-title {
  background: transparent;
}

.program-at-a-glance .nav-tabs {
  border-bottom-color: var(--cu-gold);
}

.program-at-a-glance .nav-tabs .nav-link {
  color: var(--cu-black);
  border-color: var(--cu-gold);
}

.program-at-a-glance .nav-tabs .nav-link:hover {
  border-color: var(--cu-gold) var(--cu-gold) #fff;
  background-color: var(--cu-gold);
}

.program-at-a-glance .nav-tabs .nav-link.active {
  color: var(--cu-black);
  background-color: var(--cu-gold);
  border-color: var(--cu-gold) var(--cu-gold) #fff;
}

.program-at-a-glance .tab-content {
  border-color: var(--cu-gold);
}

.view-program-list .views-field-title a {
  color: #595959;
}

.view-program-list .views-field-title a:hover {
  color: var(--cu-black);
}

.view-program-list .views-field-title {
  border-bottom-color: #dee2e6;
}

/** Footer */
.featured-footer {
  background-color: #adb5bd;
}

.featured-footer .content a:not(.btn) {
  color: var(--cu-black);
}

.featured-footer .content a:hover:not(.btn) {
  color: #2a2a2a;
}

.site-footer .region-top {
  background: -o-radial-gradient(98.5697% 63.464%, circle, #666666, #363636);
  background: radial-gradient(circle at 98.5697% 63.464%, #666666, #363636);
  color: #fff;
}

.site-footer a,
.site-footer .content a {
  color: #fff;
}

.site-footer a:hover,
.site-footer .content a:hover {
  color: #fff;
}

.site-footer__top .block-cu-online h2 {
  color: #fff;
}

.site-footer__top .block-cu-online .content {
  color: #fff;
}

.site-footer ul.menu--social-media li a {
  background-color: #fff;
  color: #595959;
}

.site-footer ul.menu--social-media li a:hover {
  background-color: #ddd;
}

.site-footer ul.menu--social-media li a:before {
  color: #595959;
}

.region-footer-second>nav ul.menu li:first-child,
.region-footer-third>nav ul.menu li:first-child,
.region-footer-fourth>nav ul.menu li:first-child {
  border-bottom-color: #ddd;
}

.region-footer-fifth .block-footer-copyright {
  border-top-color: #555 !important;
}

/* Medium */
@media (min-width: 48em) {
  .repeating-linear {
    -o-border-image: -o-repeating-linear-gradient(left, var(--cu-gold), var(--cu-gold) 4px, white 4px, white 20px) 1;
    border-image: repeating-linear-gradient(90deg, var(--cu-gold), var(--cu-gold) 4px, white 4px, white 20px) 1;
  }

  .program-at-a-glance>h2 {
    -webkit-box-shadow: 0.2rem 0.3rem 0.5rem -0.1rem rgb(0 0 0 / 60%);
            box-shadow: 0.2rem 0.3rem 0.5rem -0.1rem rgb(0 0 0 / 60%);
  }

  .view-paag-base-fields .col:nth-child(odd) {
    border-right-color: var(--cu-black);
  }
}

/* Large and up */
@media (min-width: 62em) {
  .cusys-barrio .navbar-nav>li:not(:last-child) {
    border-right-color: var(--cu-light-gray);
  }

  .l-header-bottom .nav-link:hover,
  .l-header-bottom .nav-link:focus {
    color: var(--cu-black);
    background-color: #fff;
  }

  .cusys-barrio .dropdown-menu {
    background-color: #fff;
  }

  .cusys-barrio .dropdown-item:focus,
  .cusys-barrio .dropdown-item:hover,
  .cusys-barrio .dropdown-item>a,
  .cusys-barrio .dropdown-item>a:hover,
  .cusys-barrio .dropdown-item>a:focus {
    color: var(--cu-dark-gray);
  }

  .cusys-barrio .dropdown-item:hover {
    background-color: transparent;
  }

  .view-paag-base-fields .col:nth-child(2),
  .view-paag-base-fields .col:nth-child(4) {
    border-right-color: var(--cu-black);
  }
}