/**
 * @file
 * Styles for CUSys Bootstrap Barrio's elements.
 */
.cusys-barrio hr {
  height: 0;
  margin: 0;
  border: none;
  border-top-width: 2px;
  border-top-style: solid;
  background-color: transparent;
  overflow: visible;
  opacity: 1;
}

/** Horizontal line border **/
.repeating-linear {
  border-width: 0 15px;
  border-style: solid;
}

/** Barrio overwrites */
.cusys-barrio .field--type-entity-reference {
  margin: 0;
}

/* Medium */
@media (min-width: 48em) {
  .repeating-linear {
    border-width: 15px 0;
  }
}