/* ---------- Helvetica Neue ---------- */

h1,
h2,
h1 a,
h2 a {
  font-family: 'Helvetica Neue', sans-serif;
}
h1,
h1 a {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
h2,
h2 a {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', sans-serif;
}
h3,
h3 a {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 800;
}
body,
p,
a,
li {
  font-family: 'Helvetica Neue', sans-serif;
}
