/**
 * @file
 * Visual styles for CU Systems Bootstrap Barrio's card component.
 */
.cusys-barrio .card {
  border: none;
  margin-bottom: 1.25rem;
}

.cusys-barrio .card.has-border {
  border-width: 1px;
  border-style: solid;
}

.cusys-barrio .card-img-overlay {
  -webkit-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.cusys-barrio .card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.50);
}

.card-img-overlay--text {
  width: 100%;
  padding-bottom: 2rem;
}

.card-img-overlay--text p {
  margin-bottom: 0;
}

/* Medium */
@media (min-width: 48em) {
  .card-img-overlay--text {
    padding-bottom: 1.125rem;
  }
}

/* Large and up */
@media (min-width: 62em) {
  .card-img-overlay--text {
    padding-bottom: 1.5rem;
  }

  .cusys-barrio .card {
    margin-bottom: 0;
  }
}