/**
 * @file
 * Visual styles for CU Systems Bootstrap Barrio's field components.
 */
.node .field--type-image {
  float: none;
  /* LTR */
  margin: 0;
  /* LTR */
}

[dir="rtl"] .node .field--type-image {
  float: none;
  margin: 0;
}

.node .field--type-image+.field--type-image {
  clear: both;
}