/**
 * @file
 * Styles for CUSys Bootstrap Barrio's Content: List paragraph pattern.
 */
.list-pattern--divider .list-pattern__item {
  padding-bottom: 3rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.list-pattern--divider .list-pattern__item:last-child {
  border-bottom: none;
}