/**
 * @file
 * Styles for CUSys Bootstrap Barrio's navigation.
 */
.navbar.l-header-bottom {
    padding: 0;
}

.navbar-toggler {
    -webkit-box-shadow: 0 0 0 0.1rem;
            box-shadow: 0 0 0 0.1rem;
}

.cusys-barrio .navbar-nav>li,
.cusys-barrio .dropdown-menu>li {
    padding: 0.75rem 1rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cusys-barrio .navbar-nav>li:last-child,
.cusys-barrio .dropdown-menu>li:last-child {
    border-bottom: none;
}

.cusys-barrio .dropdown-toggle.show {
    padding-bottom: 0;
}

.cusys-barrio .dropdown-item>a {
    text-decoration: none;
}

.cusys-barrio .breadcrumb {
    margin-top: 1.875em;
    /**font-size: 0.750rem;*/
}

.breadcrumb .breadcrumb-item:first-child a {
    font-size: 0;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Medium */
@media (min-width: 48em) {
    /**.cusys-barrio .breadcrumb {
        font-size: 0.875rem;
    }*/
}

/* Large and up */
@media (min-width: 62em) {
    .cusys-barrio .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0.938rem;
    }

    .cusys-barrio .navbar {
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        min-height: auto;
        padding: 0;
    }

    .cusys-barrio .navbar-nav>li {
        padding: 0;
        border-bottom: none;
        border-top: none;
    }

    .navbar-nav>li:first-child {
        border-top: none;
    }

    .navbar-nav>li:not(:last-child) {
        border-right-width: 1px;
        border-right-style: solid;
    }

    .cusys-barrio .dropdown-menu {
        padding: 0;
        margin-left: -1px;
        border-width: 0;
        border-style: solid;
        border-radius: 0 0 .25rem .25rem;
        border-top: none;
        border-right: none;
        border-left: none;
    }

    .cusys-barrio .dropdown-menu[data-bs-popper] {
        margin-top: 0;
    }

    li.dropdown .dropdown-menu .dropdown-item {
        padding-top: .75rem;
        padding-bottom: .75rem;
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom: none;
    }

    .dropdown-item>a {
        text-decoration: none;
    }

    .dropdown-item>a:hover {
        text-decoration: underline;
    }

    /**.cusys-barrio .breadcrumb {
        font-size: 1rem;
    }*/
}