/**
 * @file
 * Visual styles for CU Systems Bootstrap Barrio's Program List component.
 */
.view-program-list h3 {
  margin-bottom: 1.250rem;
}

.view-program-list .views-field-title {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.view-program-list .views-field-title a {
  padding: 0.625rem 0;
}