/**
 * @file
 * Visual styles for CU Systems Bootstrap Barrio's Program at a Glance component.
 */
.program-at-a-glance {
  margin-top: 1.563rem;
  padding-bottom: 1rem;
}

.program-at-a-glance>h2 {
  margin: -1.000em 0 1rem -1.700rem;
  padding: 0.160em 0.800em;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

.program-at-a-glance .card-title {
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.program-at-a-glance .card-text {
  font-weight: 500;
  font-size: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.program-at-a-glance .nav-tabs .nav-link {
  font-weight: 700;
}

.program-at-a-glance .tab-content {
  border-width: 1px;
  border-style: solid;
  border-top: none;
  padding: 0.938rem;
}

.program-at-a-glance .program-at-a-glance--text-lg {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.program-at-a-glance .program-at-a-glance--text-xlg {
  font-size: 2.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.program-at-a-glance .disclaimer,
.program-at-a-glance .disclaimer p,
.program-at-a-glance .disclaimer a {
  font-weight: normal;
  font-size: 0.875rem;
  text-align: left;
  line-height: 1.2;
}

.program-at-a-glance .disclaimer p:last-child {
  margin-bottom: 0;
}

.program-at-a-glance .tab-content#tuitionTabContent .program-at-a-glance--text-lg,
.program-at-a-glance .tab-content#tuitionTabContent .program-at-a-glance--text-xlg {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Small */
@media (min-width: 36em) {
  .program-at-a-glance>h2 {
    font-size: 2rem;
  }
}


/* Medium */
@media (min-width: 48em) {
  .program-at-a-glance>h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .view-paag-base-fields .col:nth-child(odd) {
    border-right-width: 2px;
    border-right-style: solid;
  }
}

/* Large */
@media (min-width: 62em) {
  .program-at-a-glance {
    padding-bottom: 3rem;
  }

  .view-paag-base-fields .col:nth-child(3),
  .view-paag-base-fields .col:nth-child(6) {
    border-right: 0px;
  }

  .view-paag-base-fields .col:nth-child(2),
  .view-paag-base-fields .col:nth-child(4) {
    border-right-width: 2px;
    border-right-style: solid;
  }

  .view-paag-base-fields .col:nth-child(4) .card-body,
  .view-paag-base-fields .col:nth-child(5) .card-body,
  .view-paag-base-fields .col:nth-child(6) .card-body {
    padding-top: 0;
  }

  .view-paag-base-fields .col:nth-child(4) .card-title,
  .view-paag-base-fields .col:nth-child(5) .card-title,
  .view-paag-base-fields .col:nth-child(6) .card-title {
    margin-top: 0;
  }
}

/* XLarge and up */
@media (min-width: 75em) {
  .program-at-a-glance>h2 {
    font-size: 2.125rem;
    margin-bottom: 1rem;
  }

  .program-at-a-glance .card-title {
    font-size: 1.250rem;
  }

  .program-at-a-glance .program-at-a-glance--text-lg {
    font-weight: 700;
    font-size: 1.250rem;
  }
}